Repository SunsetStation/SunsetStation, pull requests merged in 2018-11, with the labels that each got.

#507 Adds Blueshield Office + some general mapping fixes
  _maps/map_files/NSS-Sunset/NSS-Sunset.dmm
  icons/mob/landmarks.dmi
  sunset/code/_globalvars/lists/mapping.dm
  sunset/code/game/objects/effects/landmarks.dm
  sunset/code/modules/antagonists/swarmer/swarmer_event.dm
  sunsetstation.dme
  tmp/iconCache.sav
Labels: Map Edit

#613 Fixes wiring in Brig
  _maps/map_files/NSS-Sunset/NSS-Sunset.dmm
Labels: Fix, Map Edit

#363 (Ready for Review) Retro furniture
  sunset/code/game/computer/camera.dm
  sunset/code/game/objects/structures/beds_chairs/bed.dm
  sunset/code/game/objects/structures/beds_chairs/chair.dm
  sunset/code/game/objects/structures/crates_lockers/closets/secure/freezer.dm
  sunset/code/game/objects/structures/table_frames.dm
  sunset/code/game/objects/structures/tables_racks.dm
  sunset/code/game/objects/structures/watercloset.dm
  sunset/code/modules/food_and_drinks/kitchen_machinery/microwave.dm
  sunset/code/modules/reagents/chemistry/machinery/reagentgrinder.dm
  sunset/icons/obj/chairs.dmi
  sunset/icons/obj/closet.dmi
  sunset/icons/obj/computer.dmi
  sunset/icons/obj/kitchen.dmi
  sunset/icons/obj/objects.dmi
  sunset/icons/obj/smooth_structures/glass_table.dmi
  sunset/icons/obj/smooth_structures/poker_table.dmi
  sunset/icons/obj/smooth_structures/table.dmi
  sunset/icons/obj/smooth_structures/wood_table.dmi
  sunset/icons/obj/structures.dmi
  sunset/icons/obj/watercloset.dmi
  sunsetstation.dme
Labels: Feature, Sprites, Tweak

#621 Puts real timers
  code/game/machinery/doors/brigdoors.dm
Labels: Fix

#645 [Ready For Review] Medbay Remap + Side edits + Sprite additions
  _maps/map_files/NSS-Sunset/NSS-Sunset.dmm
  sunset/code/game/area/Space_Station_13_areas.dm
  sunset/code/game/machinery/iv_drip.dm
  sunset/code/game/objects/effects/decals/turfdecal/tilecoloring.dm
  sunset/code/game/objects/effects/spawners/lootdrop.dm
  sunset/code/game/objects/items/storage/firstaid.dm
  sunset/code/game/objects/structures/beds_chairs/chair.dm
  sunset/code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  sunset/code/game/objects/structures/crates_lockers/crates.dm
  sunset/code/game/objects/structures/signs/signs_departments.dm
  sunset/code/game/objects/structures/signs/signs_plaques.dm
  sunset/code/game/objects/structures/watercloset.dm
  sunset/code/modules/food_and_drinks/kitchen_machinery/smartfridge.dm
  sunset/code/modules/jobs/job_types/medical.dm
  sunset/code/modules/jobs/job_types/science.dm
  sunset/code/modules/mob/living/simple_animal/bot/construction.dm
  sunset/code/modules/mob/living/simple_animal/bot/medbot.dm
  sunset/code/modules/reagents/chemistry/machinery/reagentgrinder.dm
  sunset/code/modules/vending/medical_wall.dm
  sunset/icons/mob/aibots.dmi
  sunset/icons/obj/chairs.dmi
  sunset/icons/obj/closet.dmi
  sunset/icons/obj/crates.dmi
  sunset/icons/obj/decals.dmi
  sunset/icons/obj/iv_drip.dmi
  sunset/icons/obj/kitchen.dmi
  sunset/icons/obj/storage.dmi
  sunset/icons/obj/vending.dmi
  sunset/icons/obj/watercloset.dmi
  sunsetstation.dme
Labels: Feature, Fix, Map Edit, Removal, Tweak, Work In Progress

#719 Fixes A bug
  _maps/map_files/NSS-Sunset/NSS-Sunset.dmm
  sunset/code/game/area/Space_Station_13_areas.dm
Labels: Fix, Map Edit
